html {
    min-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #284C55;
    background-blend-mode: multiply;
}

*,
*::before,
*::after {
  box-sizing: inherit;  
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {   
    min-width: 320px;
    font-family: "Unbounded", sans-serif; 
    color: #FFFFFF;
    min-height: 100%;
    max-width: 100%;
    padding: 0 10.6%;
    display: grid;
    grid-template-rows: repeat(6, 170px);
    grid-auto-rows: 170px;
}

.header {
    grid-row: 1/2;
    display: flex;
    align-items: center;
}

.header__container {
    height: 52px;
    line-height: 5rem;  
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tel span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 12px;
}

.code,
.point {
    color: #666767;
}

.header__container a, .phone_icon {
    display: none;
}


.main {
    grid-row: 2/6;
    display: grid;
    grid-template-columns: repeat(12, minmax(104px, auto));
    column-gap: 24px;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 2.8%;
}

.block__left,
.block__right {
    display: flex;
    align-items: center;
    border-radius: 40px;
}

.block__left {
    min-height: 100%;
    grid-column: 1/5;
    background-color: #5F90BD;
    box-sizing: border-box;
    padding: 12.29%;
}

.block__right {
    grid-column: 5/13;
    min-height: 100%;
    max-width: 100%;
    background-image: url(../images/Peugeot.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    box-sizing: border-box;
}

.block__right_image {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.block__left__wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block__left__brands {
    min-height: 89px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.block__left__brands img {
    max-height: 89px;
    width: auto;
}

ul.block__left__services {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.05px;
    list-style-position: inside;
    box-sizing: border-box;
}

ul.block__left__services li {
    padding-left: 0;
    margin-bottom: 20px;
}

ul.block__left__services li:nth-child(3) {
    margin-bottom: 0;
}

.block__right p {
    width: 50%;
    margin-left: 60px;
    font-size: 3.625rem;
    line-height: 4.5rem;
    color: #77ACDC;
}

ul.block__left__services li,
.block__right p {
    text-transform: uppercase;
    font-weight: bold;
}

.footer {
    grid-row: 6/7;
    display: flex;
    align-items: start;
    line-height: 1.7rem;
    margin-top: 20px;
}

.footer__container {
    height: 22px;
    font-size: 1.125rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tel__footer, .text__footer.short {
    display: none;
}

.info, .adress {
    display: flex;
    justify-content: space-between;
}

.adress span {
    text-transform: uppercase;
    margin-right: 20px;
}

.location {
    text-decoration: underline;
}

.text__footer.long {
    display: inline;
}

.cone {
    position: absolute;
    height: 252px;
    width: auto;
    right: 3.1%;
    bottom: 0;
}